body {
  margin: auto;
  font-family: sans-serif;
  border-left: 5px solid lightgray;
  min-height: 100vh;
  max-width: 1000px;
}

header, main, footer {
  padding: 1rem 2rem 1rem 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}

#subTitle {
  font-size: 1.5rem;
  letter-spacing: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

#continue a {
  color: tomato;
  float: right;
  margin-right: 1rem;
  font-weight: bold;
}

#continue a:hover {
  color: gray;
}

h1 {
  color: tomato;
  font-size: 3.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

article {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

#entry {
padding-left: 1rem;
}

#entry::first-letter {
  float: left;
  font-size: 5rem;
  line-height: .85;
  margin-right: .5rem;
  color: lightgray;
}

#date {
  color: lightgray;
  font-size:1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#blogTitle {
  font-size: 2rem;
}

a, ul, li {
  text-decoration: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  text-decoration: underline;
}

#topNav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0;
  text-decoration: underline;
}

#topNav a {
  color: lightgray;
}

#topNav a:hover {
  color: tomato;
}

#footerLinks {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#footerLinks li {
  text-decoration: none;
  color: tomato;
}

#footerLinks a {
  color: tomato;
}

#footerLinks a:hover {
  color: gray;
}

#companyInfo {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color: lightgray;
  margin-left: 1rem;
  margin-bottom: 1rem;
}